<md-sidenav-container>
    <md-sidenav #sidenav mode="push">
        <div class="branding">
            <img [src]="logo"/> <span>Angular Starter</span>
        </div>
        <md-nav-list>
            <a md-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
               [routerLink]="[item.link]" routerLinkActive="active">
                {{item.label}}
            </a>
        </md-nav-list>
    </md-sidenav>

    <div class="wrapper">
        <md-toolbar color="primary">
            <!-- hamburger menu shown at small sieze; hidden at medium>up sizes. -->
            <button md-icon-button class="hidden-md-up" (click)="sidenav.open()">
                <md-icon>menu</md-icon>
            </button>

            <!-- Logo and Text; center aligned; shown at small size. -->
            <span routerLink="" class="branding spacer hidden-md-up text-center"><img
                [src]="logo"/> MET_AL
            </span>

            <!-- Logo and Text; left aligned; hidden at small size. -->
            <span routerLink="" class="branding spacer hidden-sm-down"><img
                [src]="logo"/> MET_AL
            </span>

            <!-- Nav buttons, hidden at small size. -->
            <span class="hidden-sm-down">
                <button md-button class="nav-button" *ngFor="let item of navigation"
                        [routerLink]="[item.link]" routerLinkActive="active">
                  {{ item.label }}
                </button>
            </span>

            <!-- Loading Scenarios -->
            <md-menu #scenarioMenu="mdMenu">
                <button md-menu-item  *ngFor="let scenario of scenarios" (click)="getScenario(scenario.name)">
                    {{ scenario.name }}
                </button>
            </md-menu>
            <button md-button [mdMenuTriggerFor]="scenarioMenu">
                Load Scenarios
            </button>


            <!-- Settings; hidden at small size. -->
            <button md-icon-button routerLink="settings" class="hidden-sm-down">
                <md-icon>settings</md-icon>
            </button>

        </md-toolbar>

        <!-- The main router outlet view -->
        <div class="content"
             [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
            <router-outlet #o="outlet"></router-outlet>
        </div>

        <div class="footer">
            <div class="row">
                <div class="col-12 signature">
                    &#169; {{ year }} - Group W / MET_AL
                    <a mdTooltip="Show changelog"
                       mdTooltipPosition="before"
                       href="https://github.com/stephenst/angular-ngrx-material-starter/blob/master/CHANGELOG.md">
                        <i class="fa fa-map-marker"></i> {{ version }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</md-sidenav-container>
