@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/static/about/about.component.scss-theme';
@import 'app/components/todos/todos.component.scss-theme';
@import 'app/components/stock-market/stock-market.component.sccs-theme';
@import 'app/components/theming/parent/parent.component.scss-theme';
@import 'app/components/theming/child/child.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include anms-styles-reset-theme($theme);
  @include anms-app-component-theme($theme);
  @include anms-about-component-theme($theme);
  @include anms-big-input-component-theme($theme);
  @include anms-todos-component-theme($theme);
  @include anms-examples-component-theme($theme);
  @include anms-parent-component-theme($theme);
  @include anms-child-component-theme($theme);
}

.default-theme {
  // @include angular-material-theme($anms-theme);
  // @include custom-components-theme($anms-theme);

    @include angular-material-theme($anms-black-theme);
    @include custom-components-theme($anms-black-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
    @include angular-material-theme($anms-black-theme);
    @include custom-components-theme($anms-black-theme);
}

// styles.css
html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
